.card-works-counter {
    .cards-works__item {
        counter-increment: ctn;

        &::before {
            display: flex;
            align-items: center;
            justify-content: center;
            content: counter(ctn);
            width: 40px;
            height: 40px;
            border-radius: 20px;
            font-family: "Montserrat";
            font-weight: 700;
            font-size: 20px;
            color: white;
            background-color: $accent;
        }

        @media (min-width: $md) {
            position: relative;

            &::before {
                position: absolute;
                top: -20px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        @media (min-width: $md) {
            &::before {
                top: unset;
                bottom: -20px;
            }
        }
    }
}

.cards-works {
    h2 {
        text-align: center;
    }

    &__wrapper {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;

        .cards-works__item {
            flex-basis: 300px;
            background-color: $white;

            padding: 10px 15px 20px;
            border-radius: 10px;
            box-shadow: 0 4px 30px 0 #00000020;

            div {
                margin: 0 auto;
                max-width: 150px;
            }
        }

        p {
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.4;
        }
    }

    @media (min-width: $sm) {
        &__wrapper {
            .cards-works__item {
                margin: 0;
                flex-basis: 270px
            }
        }
    }

    @media (min-width: $md) {
        &__wrapper {
            margin-top: 45px;

            row-gap: 25px;
            column-gap: 28px;

            .cards-works__item {
                flex-basis: 210px;
                height: 340px;
                border-radius: 15px;

                &:nth-of-type(2) p {
                    color: #9B51E0;
                    font-weight: 700;
                }

                div {
                    margin-top: 10px;
                    max-width: unset;
                }
            }

            p {
                font-size: 15px;
            }
        }
    }

    @media (min-width: $xl) {
        &__wrapper {
            gap: 0;
            justify-content: space-between;

            .cards-works__item {
                height: 360px;

                &:nth-of-type(2) p {
                    color: $black;
                    font-weight: 500;
                }

                &:nth-of-type(3) p {
                    color: #9B51E0;
                    font-weight: 700;
                }
            }
        }

        p {
            font-size: 16px;
        }
    }

    @media (min-width: $xxl) {
        &__wrapper {
            .cards-works__item {
                height: 380px;
                flex-basis: 230px;
            }
        }
    }

    // ------------------------------------------------------animation
    &__wrapper {
        .cards-works__item {
            >div {
                position: relative;
            }

            svg {
                width: 100%;
                color: #F2994A;
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 3;
            }

            svg {
                animation: cardsAnimation1 10s ease-out infinite;

                @keyframes cardsAnimation1 {
                    0% {
                        color: #F2994A;
                        filter: none;
                    }

                    3% {
                        color: #9B51E0;
                        filter: drop-shadow(1px 1px 10px #9B51E0);
                    }

                    20% {
                        color: #9B51E0;
                        filter: drop-shadow(1px 1px 5px #9B51E0);
                    }

                    23% {
                        color: #F2994A;
                        filter: none;
                    }
                }
            }
        }

        .cards-works__item:nth-of-type(2) {

            svg,
            p {
                animation-delay: 2s;
            }
        }

        .cards-works__item:nth-of-type(3) {

            svg,
            p {
                animation-delay: 4s;
            }
        }

        .cards-works__item:nth-of-type(4) {

            svg,
            p {
                animation-delay: 6s;
            }
        }

        .cards-works__item:nth-of-type(5) {

            svg,
            p {
                animation-delay: 8s;
            }
        }
    }
}