.header {
    padding-top: 15px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__logo {
        height: 55px;
        width: 55px;
        display: inline-block;
        background: no-repeat center/cover url(../images/logo.png);
    }

    .social {
        display: none;
    }

    .call {
        position: fixed;
        top: 25px;
        right: 10px;
    }

    @media (min-width: $md) {
        padding-top: 30px;

        .container {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }

        &__logo {
            height: 110px;
            width: 110px;
            margin-right: auto;
        }

        .social {
            display: inline-block;

            &[href^="https://instagram"] {
                margin-right: 50px;
            }
        }

        .call {
            position: static;
            margin-bottom: 7px;
        }
    }
}