.intro {
    background: no-repeat center/cover url(../images/intro/background.jpg);

    &__container {
        height: 100%;
        display: grid;
        grid-template-rows: auto 1fr;
        justify-items: center;
    }

    &__image {
        width: 100%;

        img {
            width: 100%;
            margin-top: -30%;
        }
    }

    h1 {
        max-width: 300px;
        text-align: center;
    }

    p {
        max-width: 300px;
        margin: 15px auto 0;
        color: $white;
        text-align: center;

        span {
            font-weight: 600;
        }
    }

    .btn {
        margin: 25px auto 35px;
        width: 100%;
        max-width: 300px;
        height: 50px;
        font-size: 15px;
    }

    @media (min-width: $md) {
        height: 100vh;
        max-height: 1024px;
        min-height: 900px;

        &__image {
            grid-area: 1 / 2 / -1 / -1;
            place-self: end;
            max-width: 650px;

            img {
                margin-top: 0;
                transform: translateX(100px);
            }
        }

        &__content {
            justify-self: start;
            grid-area: 1 / 1 / 2 / -1;
            position: relative;
        }

        .intro__container .intro__content h1 {
            margin-top: 290px;
            text-align: left;
            max-width: 687px;
        }

        p {
            margin: 30px 0 0;
            max-width: 325px;
            text-align: left;
            font-size: 18px;
        }

        .btn {
            margin: 45px 0 0;
            width: 211px;
            height: 56px;
            font-size: 18px;
        }
    }

    @media (min-width: $xl) {
        .intro__container .intro__content h1 {
            max-width: 500px;
        }

        p {
            max-width: 390px;
        }

        &__image {
            max-width: 850px;
            justify-self: end;
        }
    }

    @media (min-width: $xxl) {
        &__image {
            max-width: 950px;
            margin-right: -80px;
        }
    }
}

.intro.cattering {
    background: no-repeat center/cover url(../images/intro/background-cattering.jpg);

    h1 {
        margin-top: 100px;
    }

    .intro__image {
        grid-area: 2 / 1 / -1 / 2;
        order: 1;

        img {
            margin-top: -5%;
        }
    }

    .btn {
        grid-area: 2 / 1 / -1 / -1;
        z-index: 1;
        align-self: end;
    }

    @media (min-width: $md) {
        .btn {
            grid-area: 2 / 1 / -1 / -1;
            z-index: 1;
            place-self: start;
        }

        .intro__image {
            grid-area: 1 / 1 / -1 / -1;
            height: 100%;

            display: flex;
            align-items: flex-end;
        }
    }
}