// ---------------------------------------------------------------- Colours
$black: #191919;
$white: #FFFFFF;

$accent: #9B51E0;
$accentControls: #F2994A; //buttons
$accentControlsActive: #EC7D1C;

$border : #EAEAEA;
$borderControls: #DEDEDE; //input

$tabColor: #404040;
$footer: #FCF9FF;

// ---------------------------------------------------------------- breakpoints:
$sm: 576px;
$md: 768px;
$lg:992px;
$xl:1200px;
$xxl: 1400px;

// ---------------------------------------------------------------- fonts:
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('Montserrat Regular'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local('Montserrat Medium'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Montserrat SemiBold'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('MontserratAlternates Bold'),
        url('../fonts/MontserratAlternates-Bold.woff') format('woff');
}

// ---------------------------------------------------------------- main:
html {
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 15px;
        background: #7c7c7c;
    }

    &::-webkit-scrollbar-thumb {
        background: $tabColor;
        border-radius: 6px;

        &:hover {
            background: #555;
        }

        &:active {
            background: #555;
        }
    }
}

body {
    font-family: "Montserrat";
    font-style: normal;
    line-height: 1.2;
    color: $black;

    background-color: $white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//-------------------------------------------------- CONTAINERS
main {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 10px;

    @media (min-width: $sm) {
        padding: 0;
        max-width: 556px; //10px side spacing
    }

    @media (min-width: $md) {
        max-width: 688px; //40px side spacing
    }

    @media (min-width: $lg) {
        max-width: 912px;
    }

    @media (min-width: $xl) {
        max-width: 1120px;
    }

    @media (min-width: $xxl) {
        max-width: 1300px;
    }
}

//-------------------------------------------------- TYPOGRAPHY
h1 {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    font-size: 24px;
    color: $white;

    @media (min-width: $md) {
        font-size: 42px;
    }
}

h2 {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    font-size: 24px;
    color: $black;

    @media (min-width: $md) {
        font-size: 36px;
    }

    @media (min-width: $xl) {
        font-size: 42px;
    }
}

h3 {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    font-size: 20px;
    color: $black;

    @media (min-width: $md) {
        font-size: 22px;
    }
}

.accent {
    color: $accent;
}

//-------------------------------------------------- BUTTONS
a,
button {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    cursor: pointer;
    background: transparent;
    border-color: transparent;
}

.social {
    color: $accentControls;
    transition: color 0.2s ease-out;
    text-decoration: none;

    &[href^="https://facebook"] {
        margin-right: 20px;
    }

    svg {
        width: 36px;
        height: 36px;
    }

    &:hover {
        color: $accentControlsActive;
    }
}

.call {
    font-size: 0;
    text-decoration: none;
    vertical-align: top;

    span {
        display: none;

        margin-left: 10px;
        font-family: "Montserrat Alternates";
        font-size: 20px;
        font-weight: 700;
        color: $white;
    }

    svg {
        line-height: 20px;
        vertical-align: top;
        width: 36px;
        height: 36px;
    }

    @media (min-width: $md) {
        span {
            display: inline-block;
        }

        svg {
            width: 24px;
            height: 24px;
        }
    }
}

.horizontal {
    border: none;
    border-bottom: 1px solid $border;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-family: "Montserrat";
    color: $white;
    font-weight: 700;
    background: $accentControls;
    border: 3px solid $white;
    border-radius: 60px;

    box-shadow: 0 0 10px 3px $accentControls;
    transition: color 0.2s ease-out;

    &:hover {
        background: $accentControlsActive;
        box-shadow: 0 0 10px 3px $accentControlsActive;
    }
}