// ---------------------------------------------------------------- Colours
$black: #191919;
$white: #FFFFFF;

$accent: #9B51E0;
$accentControls: #F2994A; //buttons
$accentControlsActive: #EC7D1C;

$border : #EAEAEA;
$borderControls: #DEDEDE; //input

$tabColor: #404040;
$footer: #FCF9FF;
// ---------------------------------------------------------------- breakpoints
$sm: 576px;
$md: 768px;
$lg:992px;
$xl:1200px;
$xxl: 1400px;