<section class="cards-works container">
  <h2>How it <span class="accent">works</span></h2>

  <div class="cards-works__wrapper">

    <div class="cards-works__item">
      <div>
        <img src="./assets/images/cards/section_cards_top/Frame_1.webp" alt="step1">
        <svg viewBox="0 0 200 200">
          <circle cx="100" cy="100" r="75" fill="CurrentColor" />
        </svg>
      </div>
      <p>Choose how many hookahs you need and fill out the form with your info</p>
    </div>

    <div class="cards-works__item">
      <div>
        <img src="./assets/images/cards/section_cards_top/Frame_2.webp" alt="step2">
        <svg viewBox="0 0 200 200">
          <circle cx="100" cy="100" r="75" fill="CurrentColor" />
        </svg>
      </div>
      <p>We call you back in a shortest time to confirm your order.</p>
    </div>

    <div class="cards-works__item">
      <div>
        <img src="./assets/images/cards/section_cards_top/Frame_3.webp" alt="step3">
        <svg viewBox="0 0 200 200">
          <circle cx="100" cy="100" r="75" fill="CurrentColor" />
        </svg>
      </div>
      <p>We deliver ready-to-smoke hookah to you, set it up for you and teach how to keep up good clouds of smoke.</p>
    </div>

    <div class="cards-works__item">
      <div>
        <img src="./assets/images/cards/section_cards_top/Frame_4.webp" alt="step4">
        <svg viewBox="0 0 200 200">
          <circle cx="100" cy="100" r="75" fill="CurrentColor" />
        </svg>
      </div>
      <p>You pay for the hookah rental. We accept cash, credit cards and PayPal and Cashapp</p>
    </div>

    <div class="cards-works__item">
      <div>
        <img src="./assets/images/cards/section_cards_top/Frame_5.webp" alt="step5">
        <svg viewBox="0 0 200 200">
          <circle cx="100" cy="100" r="75" fill="CurrentColor" />
        </svg>
      </div>
      <p>We come next day to pick up the hookah.</p>
    </div>

  </div>
</section>