<footer class="footer">
  <div class="container">

    <a href="./index.html" data-logo>
      <img src="assets/images/logo_footer.webp" alt="logo">
    </a>

    <div class="footer__wrapper">

      <a class="call" href="tel:13059816688" aria-label="call">
        <svg>
          <use xlink:href="assets/images/sprites.svg#call"></use>
        </svg>
        <span>+1 (305) 981-6688</span>
      </a>

      <div class="footer__socials">
        <a class="social" href="https://facebook.com" aria-label="facebook" target="_blank">
          <svg aria-hidden="true">
            <use xlink:href="assets/images/sprites.svg#facebook"></use>
          </svg>
        </a>
        <a class="social" href="https://instagram.com" aria-label="instagram" target="_blank">
          <svg aria-hidden="true">
            <use xlink:href="assets/images/sprites.svg#instagram"></use>
          </svg>
        </a>
      </div>

      <a class="footer__blog" href="https://twitter.com/" target="_blank"><span class="accent">BLOG</span> </a>
      <hr>
      <b>MIAMI, FL</b>
      <p>Puff Hookah Catering © All Rights Reserved</p>

    </div><!-- end wrapper -->

  </div><!-- end cotainer -->
</footer>