<header class="header">

  <div class="header__wrapper container">
    <a class="page-tab active" href="./index.html">HOOKAH RENTALS & DELIVERY</a>
    <a class="page-tab page-tab-secondary" href="./cattering.html">HOOKAH CATERING</a>
  </div>

  <div class="container">
    <a class="header__logo" href="./index.html" aria-label="main page"></a>

    <a class="social" href="https://facebook.com" aria-label="facebook" target="_blank">
      <svg>
        <use xlink:href="assets/images/sprites.svg#facebook"></use>
      </svg>
    </a>
    <a class="social" href="https://instagram.com" aria-label="instagram" target="_blank">
      <svg>
        <use xlink:href="assets/images/sprites.svg#instagram"></use>
      </svg>
    </a>

    <a class="call" href="tel:13059816688" aria-label="call">
      <svg>
        <use xlink:href="assets/images/sprites.svg#call"></use>
      </svg>
      <span>+1 (305) 981-6688</span>
    </a>

  </div>
</header>