<header class="header">
  <div class="container-fluid">

    <a class="header__logo" href="index.html"></a>

    <button class="page-tab active" type="button">HOOKAH RENTALS & DELIVERY</button>
    <button class="page-tab page-tab-secondary" type="button">HOOKAH CATERING</button>

    <a class="social" href="https://facebook.com">
      <svg>
        <use xlink:href="assets/images/sprites.svg#facebook"></use>
      </svg>
    </a>
    <a class="social" href="https://instagram.com">
      <svg>
        <use xlink:href="assets/images/sprites.svg#instagram"></use>
      </svg>
    </a>

    <a class="call" href="tel:13059816688">
      <svg>
        <use xlink:href="assets/images/sprites.svg#call"></use>
      </svg>
      <span>+1 (305) 981-6688</span>
    </a>

  </div>
</header>