<div class="modal-overlay" aria-labellledby="modal-order" role="dialog" data-modal-order>

  <div class="modal-order modal modal-show modal-container" role="document">
    <form name="order package">
      <div class="modal-order__step1">
        <div class="modal__sup-title accent">
          Step 1/2
          <button class="btn-close" aria-label="close modal" data-close>
            <svg>
              <use xlink:href="assets/images/sprites.svg#close"></use>
            </svg>
          </button>
        </div>

        <b class="modal-order__title">Leave your contacts</b>
        <div class="star">
          <input class="txt" type="text" placeholder="Your name" autocomplete="off" minlength="2" maxlength="24" name="name" required>
        </div>
        <div class="star">
          <input class="txt" type="tel" placeholder='Your phone' autocomplete="off" minlength="10" name="phone" data-mask required>
        </div>
        <hr>

        <div class="modal-order__dropDown" aria-haspopup="true" aria-expanded="false">
          <button type="button" class="modal-order__dropDown-trigger">
            Details
            <svg>
              <use xlink:href="assets/images/sprites.svg#chevron-left"></use>
            </svg>
          </button>
          <div class="modal-order__dropDown-container" aria-hidden='true'>
            <input tabindex="-1" class="txt" type="text" placeholder='Delivery address' autocomplete="off" name="address">
            <input tabindex="-1" class="txt" type="text" placeholder='Delivery date and time' autocomplete="off" name="date" data-date-time>
          </div>
        </div>
      </div>

      <div class="modal-order__step2">
        <div class="modal__sup-title accent">
          Step 2/2
          <button class="btn-close" aria-label="close modal" data-close>
            <svg>
              <use xlink:href="assets/images/sprites.svg#close"></use>
            </svg>
          </button>
        </div>
        <b class="modal-order__title">Leave order details</b>
        <!-- <p>You can choose several flavors in 1 list to mix them</p> -->
        <div class="modal-order__flavours">
          <!-- flavours JS -->
        </div>
      </div>

      <hr>
      <b>Your order:</b>
      <div class="modal-order__item">
        <!-- ordered item JS -->
      </div>

      <hr>

      <div class="modal-order__step1"><button class="btn" type="button" data-next>Next step</button></div>
      <div class="modal-order__step2"><button class="btn" type="submit">Order service</button></div>
    </form>
  </div>
</div>