.choose {
    margin-top: 60px;
    background: no-repeat center/cover url(../images/background_choose.jpg);

    &__content {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    h2,
    p,
    b {
        text-align: center;
        font-family: "Montserrat";
        color: $white;
    }

    b {
        display: inline-block;
    }

    &__sub-title {
        margin-top: 14px;
        font-size: 12px;
        line-height: 1.4;
    }

    form {
        margin-top: 15px;
        margin-bottom: 25px;

        .horizontal:first-of-type {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .horizontal:last-of-type {
            margin-top: 15px;
            margin-bottom: 30px;
        }
    }

    &__numbers {
        display: flex;
        justify-content: space-between;

        font-family: "Montserrat Alternates";
        color: $white;
        font-weight: 700;
        font-style: 16px;
    }

    .choose__form-text {
        margin: 0 auto;
        max-width: 320px;
        display: block;
    }

    .choose__hours,
    .choose__price {
        margin-top: 7px;
        color: $accentControls;
    }

    .choose__price {
        font-size: 24px;
    }

    .choose__text {
        font-size: 14px;
    }

    .choose__text:last-of-type {
        margin-top: 10px;
    }

    .btn {
        width: 100%;
        padding: 14px 5px;
        font-size: 18px;
    }

    input[type=range] {
        margin-top: 30px;
        margin-bottom: 35px;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        height: 0;
    }

    input[type=range]::-moz-range-track {
        height: 0;
    }

    input[type=range]::-webkit-slider-thumb {
        position: relative;
        z-index: 1;
        background: $accentControls;
        border: 4px solid $white;
        border-radius: 50%;
        cursor: pointer;
        width: 25px;
        height: 25px;
        -webkit-appearance: none;
        margin-top: -10px;
    }

    input[type=range]::-moz-range-thumb {
        position: relative;
        z-index: 1;
        background: $accentControls;
        border: 4px solid $white;
        border-radius: 50%;
        cursor: pointer;
        width: 25px;
        height: 25px;
        -webkit-appearance: none;
        margin-top: -10px;
    }

    &__form-range {
        position: relative;

        #range {
            width: 75%;
        }

        //////////////////////////////////////////////////////
        svg {
            position: absolute;
            width: 100%;
            top: 30px;
            left: 0;
        }
    }

    @media (min-width: $md) {
        margin-top: 80px;

        &__content {
            padding-top: 75px;
            padding-bottom: 80px;
        }

        &__sub-title {
            margin-top: 12px;
        }

        form {
            margin-top: 40px;

            .horizontal:first-of-type {
                margin-top: 25px;
                margin-bottom: 45px;
            }

            .horizontal:last-of-type {
                margin-top: 45px;
            }
        }

        &__form-container &__form-text {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .choose__form-text {
            text-align: left;
            max-width: unset;
            font-size: 18px;
        }

        .choose__form-text:first-of-type {
            font-size: 16px;
        }

        .choose__hours,
        .choose__price {
            margin-top: 0;
        }

        .choose__hours {
            margin-left: 12px;
        }

        .choose__price {
            font-size: 32px;
        }

        .choose__text {
            font-size: 16px;
        }

        .choose__text:last-of-type {
            margin-top: 5px;
        }

        .btn {
            width: auto;
            margin: 0 auto;
            padding: 14px 55px;
        }
    }

    @media (min-width: $xl) {
        margin-top: 160px;

        &__content {
            padding-top: 95px;
        }

        &__sub-title {
            margin-top: 10px;
            font-size: 16px;
        }

        form {
            margin-top: 45px;

            .horizontal:last-of-type {
                margin-top: 40px;
            }
        }

        &__form-container {
            display: grid;
            grid-template-columns: 6fr 2fr 4fr;
        }

        &__form-container &__form-text {
            margin-top: -10px;
            grid-area: 1 / 3 / -1 / -1;
        }

        .choose__hours {
            margin-left: 20px;
        }

        .choose__price {
            font-size: 42px;
            width: 50%;
            text-align: right;
        }

        .choose__form-text:first-of-type {
            font-size: 18px;
        }
    }
}