.why {
    margin-top: 45px;

    h2 {
        text-align: center;
    }

    p {
        font-size: 14px;
    }

    &__cards {
        margin-top: 24px;
        display: grid;
        grid-template: repeat(3, auto) / minmax(auto, 300px);
        justify-content: center;
        gap: 15px;

        b,
        p {
            text-align: center;
        }

        b {
            display: block;
            padding: 20px;
            font-size: 20px;
            color: $accentControls
        }

        p {
            padding: 15px;
        }

        hr {
            border: none;
            border-bottom: 1px solid $border;
        }
    }

    &__card {
        border-radius: 10px;
        box-shadow: 0 4px 30px 0 #0002;
    }

    &__items {
        margin-top: 50px;
        display: grid;
        grid-template: repeat(3, auto) / minmax(auto, 300px);
        justify-content: center;
        gap: 15px;
    }

    &__item {

        b,
        p {
            text-align: center;
        }

        b {
            margin-top: 20px;
            display: block;
        }

        p {
            margin-top: 10px;
        }
    }

    &__item-image {
        margin: 0 auto;
        width: 74px;
        height: 74px;
        border-radius: 50%;
        box-shadow: 0 4px 30px 0 #0002;

        svg {
            width: 74px;
            height: 74px;
        }
    }

    @media (min-width: $md) {
        &__cards {
            grid-template: auto / repeat(3, 1fr);
            justify-content: center;
            gap: 30px;

            b,
            p {
                text-align: center;
            }
        }

        &__items {
            margin-top: 30px;
            grid-template-columns: 1fr;
            justify-content: center;
            gap: 15px;
        }

        &__item {
            display: grid;
            grid-template: auto 1fr / 74px auto;
            justify-content: start;
            column-gap: 20px;

            b,
            p {
                text-align: left;
            }

            b {
                margin-top: 5px;
            }

            p {
                margin-top: 10px;
            }
        }

        &__item-image {
            grid-area: 1 / 1 / -1 / 2;
        }
    }

    @media (min-width: $md) {
        &__cards {
            margin-top: 30px;

            b {
                font-size: 24px;
            }

            p {
                padding: 15px 25px;
                font-size: 16px;
            }
        }

        &__items {
            margin-top: 50px;
            grid-template: repeat(2, auto) / 1fr 1fr;
            gap: 30px;
        }
    }
}