.cards-get {
    &__content {
        margin-top: 65px;
        display: grid;
        grid-template: repeat(11, auto) / minmax(auto, 300px);
        justify-content: center;
        column-gap: 20px;
        row-gap: 40px;

        h2 {
            text-align: center;
            grid-area: 1 / 1 / 2 / -1;
        }

        p {
            height: 50px;
            margin-top: 20px;

            display: flex;
            align-items: center;
            justify-content: center;

            text-align: center;
            font-family: "Montserrat Alternates";
            font-weight: 700;

            border-radius: 5px;
            box-shadow: 0 4px 30px 0 #00000015;
        }

        >p {
            flex-direction: column;
            height: 100%;
            margin: 0;
            padding: 10px;

            font-size: 14px;
            color: $white;
            border-radius: 15px;
            background: $accentControls;

            svg {
                width: 50px;
                height: 50px;
                margin-bottom: 12px;
            }
        }
    }

    @media (min-width: $sm) {
        &__content {
            grid-template: repeat(6, auto) / repeat(2, 1fr);
        }
    }

    @media (min-width: $md) {
        background: no-repeat bottom center/cover url(../images/cards/background.webp);

        &__content {
            margin-top: 100px;
            grid-template: repeat(5, auto) / repeat(3, 1fr);
            column-gap: 30px;

            h2 {
                text-align: left;
            }

            >p {
                height: 90px;
                flex-direction: row;
                grid-area: -2 / 1 / -1 / -1;

                font-size: 18px;
                border: 3px solid $white;

                svg {
                    margin: 0 15px 0 0;
                }
            }
        }
    }

    @media (min-width: $xl) {
        margin-top: -135px;
        padding-top: 135px;

        &__content {
            margin-top: 100px;
            grid-template: repeat(4, auto) / 220px repeat(3, 1fr);

            h2 {
                margin-right: -30px;
                grid-area: 1 / 1 / -1 / 2;
                text-align: left;
            }

            >p {
                grid-area: -2 / 2 / -1 / -1;
            }
        }
    }
}